
.gridContainer{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
}
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-width: 50%;
  }
  
  .pagination li {
    background-color: rgb(255, 255, 255);
    width: 40px;
    border-radius: 0.25rem;
    border:2px solid rgba(8, 2, 8, 0.432);
    box-shadow: 2px 2px 2px 1px rgba(255, 12, 12, 0.685);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px !important;
  }
  
  .active {
    background-color: rgb(236, 9, 9) !important;
  }
  
  .pagination li button {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    cursor: pointer;
  }
  .pagination li:hover {
    background-color: rgb(252, 6, 6);
  }
  .pagination li button:focus {
    outline: none;
  }

  .scroll{
    overflow-y:auto;
    overflow-x:auto;
}

.container{
    overflow: hidden;
    overflow-x:auto;
    scroll-behavior: smooth;
    min-height: 80vh !important;
    max-height: 80vh !important;
    
}
.container::-webkit-scrollbar {
    width: 8px; 
    max-height: 8px;
}
  .container::-webkit-scrollbar-thumb {
      background: rgb(239, 7, 7);
      border-radius: 0.25rem;
  }
