.profile{
    display:flex;
    justify-content: space-between;
    align-items: center;
	align-content: center;
    list-style: none;
	box-sizing: border-box;
	padding:0px;
	padding-top: 8px !important;
	max-height:50px;
}
.profileImg{
    background-color: red;
    border-radius: 90%;
    width: 40px;
    height: 40px;

}
.profileActions{
    display: flex;
    justify-content: space-between;
}
.profileActions:hover{
    background-color: red;
	border-radius: 90%;
}
.profileTitles{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-right: 5px;
	padding-top: 20px !important;
	max-height:50px;
}
.profileTitles span{
 font-size: 13px;
}
.profileTitles p{
	font-size: 9px;
   }
   .profileTitles:hover{
	   color:#0844c7;
   }
.actionDelete{

	height: 40px;
	width: 40px;
}

.chatBar{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 5px !important;
    align-items: center;
}
.chatList{
	max-height: 94%;
	min-height: 94%;
	overflow: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
	margin-left: 0px;
}
.chat{
	max-height: 100%;
	min-height: 100%;
}
.chatContainer{
	max-height: 88%;
	min-height: 88%;
	overflow: hidden;
 overflow-y: scroll;
 scroll-behavior: smooth;
}
.chatForm{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px !important;
	max-height: 100%;
	
}
.chatFormText{
	min-width: 80%;
	height: 45px;
	border-radius: 15px 50px 30px;
    border: .5px solid rgb(0, 0, 0);
	padding-left: 10px !important;
}
.chatFormSend{
	margin-left: 20px;
	position: relative;
  display: inline-block;
  padding: 1em 2em !important;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
   background-color: #0844c7;
   color:white;
}
.searchFormText{
	max-width: 65%;
	height: 35px;
	border-radius: 15px 50px 30px;
    border: .5px solid rgb(0, 0, 0);
	padding-left: 20px !important;
}
.searchFormSend{
	margin-left: 10px;
	position: relative;
  display: inline-block;
  padding: 0.5em 1em !important;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
   background-color: #0844c7;
   color:white;
}
.searchFormSend:hover{
	background-color: rgb(239, 7, 7);
	color:white;
}
.chatFormSend:hover{
	background-color: rgb(239, 7, 7);
	color:white;
}
.chatContainer::-webkit-scrollbar {
    width: 8px; 
    max-height: 1px;
}
  .chatContainer::-webkit-scrollbar-thumb {
      background: rgb(239, 7, 7);
      border-radius: 0.25rem;
  }
.chatList::-webkit-scrollbar {
    width: 8px; 
    max-height: 1px;
}
  .chatList::-webkit-scrollbar-thumb {
      background: rgb(239, 7, 7);
      border-radius: 0.25rem;
  }
.msg {
	display: grid;
	margin: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.content {
	padding: 30px;
}
.recepient {
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
}
.recepient .icon {
	grid-area: 1 / 2 / 3 / 3;
	padding: 5px;
	align-self: center;
}
.recepient .name {
	grid-area: 1 / 1 / 2 / 2;
	align-self: end;
	font-weight: bold;
	text-align: right;
    margin-right: 40px !important;
}
.recepient .time {
	grid-area: 2 / 1 / 3 / 2;
	align-self: start;
	color: gray;
	text-align: left;
    
}
.sender {
	grid-area: 1 / 5 / 2 / 6;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
}
.sender .icon {
	grid-area: 1 / 1 / 3 / 2;
	padding: 5px;
	align-self: center;
}
.sender .name {
	grid-area: 1 / 2 / 2 / 3;
	font-weight: bold;
	align-self: end;
}
.sender .time {
	grid-area: 2 / 1 / 2 / 3;
	color: gray;
	align-self: end;
	text-align: right;
}
.msg_from .content {
	grid-area: 1 / 2 / 2 / 5;
	background: #DDA0DD;
	border-radius: 20px 20px 20px 0;
	text-align: left;
	align-self: center;
    display:flex;
    align-items: center;
    min-height: 40px;
	padding:0px;
    padding-left: 3px !important;
}
.msg_to .content {
	grid-area: 1 / 2 / 2 / 5;
	background: #AFEEEE;
	border-radius: 20px 20px 0 20px;
	text-align: right;
	align-self: center;
    min-height: 40px;
	padding:0px;
    padding-left: 3px !important;
    display:flex;
    align-items: center;
}
img {
	width: 100%;
}
@media (max-height: 700px) {
    .chat{
        min-height: 96%;
		max-height: 96%;
    }
 }
 @media (min-height: 700px) and (max-height:720px) {
    .chat{
        min-height: 98%;
		max-height: 98%;
    }
 }
 @media (min-height: 720px) and (max-height:800px) {
    .chat{
        min-height: 98.5%;
		max-height: 98.5%;
    }
 }