
  .scroll{
    overflow-y:auto;
    overflow-x:auto;
    min-height: 290px !important;
    max-height: 290px !important;
}
.scroll::-webkit-scrollbar {
  width: 8px; 
  max-height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
    background: rgb(239, 7, 7);
    border-radius: 0.25rem;
}
.container{
  overflow-y:auto;
  overflow-x:auto;
    scroll-behavior: smooth;
    min-height: 300px !important;
    max-height: 300px !important;
    
}
.container::-webkit-scrollbar {
    width: 8px; 
    max-height: 8px;
}
  .container::-webkit-scrollbar-thumb {
      background: rgb(239, 7, 7);
      border-radius: 0.25rem;
  }
