.sideBar {
    min-height: 100vh !important;
    max-height: 100vh !important;
    min-width: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    border-right: 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: red;
    background-color: red;
    border:1px solid rgb(193, 15, 15);
    box-sizing: border-box;
    margin-right: 50px;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 3px rgba(8, 6, 8, 0.6);
}
.sideBarItemP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35% !important;
    max-height: 35% !important;
}
.sideBarItemI{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 65% !important;
    max-height: 100% !important;
}
.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    min-height: 100% !important;
    max-height: 100% !important;
}
.items ul{
    list-style: none;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100% !important;
    max-height: 100% !important;
}
.items li{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    min-height: 10%;
    max-height: 10%;
    justify-content: space-between;
}
.textDecoration{
    text-decoration: none;
    color: white;
}
.itemSide{
    
}
.itemSide button{
    
}
.user{
    list-style: none;
    color:white;
    margin-top: 50%;
}
.userName{
    font-size: 1.3em;
}
@media (min-width: 300px) and (max-width: 767.98px) {
    .sideBar{
        display:none;
    }
 }
 @media (min-width: 700px) and (max-width: 900px) {
    .sideBar{
        min-width: 200px;
    }
 }
